/* 
    Created on : 16 Aug 2025, 15:17:45
    Author     : Nicholas Leong EDUV4551823
*/

main{
    flex-grow: 1;
    min-height: 80vh;
    max-height: 100vh;
}

body{
    display: flex;
    flex-direction: column;
    /*min-height: 100vh;*/
}

#enterInfo{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    width: 100%;
}

#alreadyHaveAccount{
    text-align: center;
    align-items: center;
    font-size: 16px;
}

#submit{
    width: 4cm;
    height: 1cm;
    font-size: 16px;
    background-color: #abcdef;
    border-color: #abcdef;
    border-radius: 4px;
}

input[type = "text"],
input[type = "email"],
input[type = "password"]{
    width: 60%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid black;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 20px;
}

.inputLabels{
    font-size: 20px;
}